body {
    padding-top: 56px;
}
header {
    padding: 100px 0;
}
.slider {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
.slider img {
    border-radius: 5px;
    width: 235px;
    height: 330px;
}
.skill-item {
    margin-bottom: 30px;
}
.skill-item i {
    color: #007bff;
}

.project-item {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-item h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 0.9rem;
}

.project-item:hover {
    transform: scale(1.05);
}

